*.csv
.env
.venv/*
*.xlsx
__pycache__/*
*.pyc
*.pyc
*.pyo
*.pyd
# Python cache
__pycache__/
*.py[cod]
*$py.class
test.py

# Ignorar archivos dentro de destinatarios
data/destinatarios/*
# PERMITIR el archivo .gitkeep
!data/destinatarios/.gitkeep